@font-face {
  font-family: "SBLHebrew";
  src: url("../fonts/SBLHbrw.woff") format("woff"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

.verse_heb {
  font-family: 'SBLHebrew';
  font-size: 25px;
  direction: rtl;
}

.word_api {
  font-family: 'SBLHebrew';
  font-size: 20px;
}

.verse_num {
  font-size: 15px;
  color: #ff33af
}

.word_elm:hover {
    color: #ff6d00;
}