@font-face {
  font-family: "SBLHebrew";
  src: url("../fonts/SBLHbrw.woff") format("woff"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SBLGreek";
  src: url("../fonts/SBLGreek.woff") format("woff"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

a.word_elm {
  font-family: 'SBLHebrew';
  font-size: 30px;
  direction: rtl;
  color: black;
}

a.sblgnt_word_elm {
  font-family: 'SBLGreek';
  font-size: 25px;
  direction: rtl;
  color: black;
}

ol {
  font-size: 18px;
}

.verseNode {
  padding-top: 14px;
}

.verse_heb {
  font-family: 'SBLHebrew';
  font-size: 25px;
  direction: rtl;
  margin-top: 20px;
  text-align: right;
}

.analysis_heb {
  font-family: 'SBLHebrew';
  font-size: 18px;
}

.result_verse {
  direction: rtl;
  text-align: right;
  font-size: 25px;
}

.search_heb {
  font-family: 'SBLHebrew';
  font-size: 18px;
  direction: ltr;
  margin-top: 20px;
  text-align: left;
}

.word_api {
  font-family: 'SBLHebrew';
  font-size: 15px;
  padding-left: 1px;
  padding-right: 1px;
  direction: ltr;
  text-indent: 0em;
}

.sblgnt_word_api {
  font-family: 'SBLGreek';
}

.verse_api {
  font-family: 'SBLHebrew';
  font-size: 15px;
}

.verse_analysis {
  font-size: 11px;
  color: #336fff;
}

.word_elm:hover {
  color: #ff6d00;
  text-decoration: none;
  cursor: pointer;
}

.sblgnt_word_elm:hover {
  color: #ff6d00;
  text-decoration: none;
  cursor: pointer;
}

.kor,
.kjv {
  font-size: 18px;
  padding-top: 14px;
  display: none;
}

.transversions {
  padding-top: 14px;
}

.gnt_kjv {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.modal.modal-wide .modal-dialog {
  width: 95%;
  height: 80%;
}

.modal-wide .modal-content {
  overflow-y: auto;
  height: auto;
  width: auto;
}

select {
  font-size: 20px;
  width: 200px; /* 원하는 너비설정 */
  padding: .8em .5em; /* 여백으로 높이 설정 */
  font-family: inherit; /* 폰트 상속 */
  /* background: url(../../static/img/arrow.png) no-repeat 95% 50%; /* 네이티브 화살표 대체 */ 
  background: white;
  border: 1px solid #999; border-radius: 0px; /* iOS 둥근모서리 제거 */
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none; appearance: none;
}

.right {
  font-size: 15px;
  float: right;
  padding: 10px;
}

.left {
  font-size: 15px;
  float: left;
  padding: 10px;
}

.center {
  margin-top: 20px;
  text-align: center;
}

#search_result_ok {
    border-radius: 5px;
    border: 1px dotted;
    padding-top: 50px;
    padding: 30px;
}

#query_input_ok {
    border-radius: 5px;
    border: 1px dotted;
    padding: 10px;
    word-wrap: break-word;
}

div.pager {
    text-align: left;
    margin: 1em 0;
}

div.pager span {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    background: #464646;
    color: #fff;
    margin-right: 0.5em;
}

div.pager span.active {
    background: #cc6962;
}

.search_helper,
.search_selector,
.search_selector2,
.submit {
  padding-bottom: 5px;
}

.clause {
    border-width: 2px;
    border-style: solid;
    border-color: #009926;
    padding: 2px;
    margin: 10px;
    display: inline-block;
    text-indent: 0;
}

.phrase {
    border-width: 2px;
    border-color: rebeccapurple;
    margin: 15px;
    padding: 5px;
    border-style: solid;
    display: inline-block;
    text-indent: 0;
}

.word {
    color: blue;
}

.syntax {
    direction: ltr;
    font-size: 10pt;
    margin-left: 2px;
    margin-right: 2px;
    position: relative;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #fff;
    text-indent: 0;
    display: inline-block;
}

.syntax.clause1 {
    top: -50px;
    text-indent: 0;
}

.syntax.phrase1 {
    top: -30px;
    text-indent: 0;
}

.clause1,
.phrase1,
.clauseatom
 {
  display: none;
  font-size: 13px;
}

.footer {
  width: 100%;
  background: #e1e4ea;
  margin-top: 10px;
  border-radius: 5px;
  padding: 20px;
  float: left;
}

.poptitle {
  text-align: left;
}

#authorized {
  float: right;
}

.commentary_contents {
  line-height: 190%;
}

img {
  max-width: 100%;
  height: auto !important;
}

iframe {
  max-width: 100%;
}

.list_row:hover {
    background-color: #cdd8e4;
    cursor: pointer;
}

.list_header {
    background-color: #f5f5f5;
}


@media(min-width:992px) {
  .panel-container {
    width: 80%;
    text-align: left;
    display: inline-block;
  }

  #commentary_container {
    text-align: center;
  }
}

.disqus-comment-count {
  color: #8f8d86;
  font-size: 12px;
}

#cke_32,
#cke_37,
#cke_87,
#cke_90 {
  display: none;
}

@media(max-width:767px) {
  #cke_32,
  #cke_37,
  #cke_70,
  #cke_74,
  #cke_17,
  #cke_24,
  #cke_47,
  #cke_84,
  #cke_87,
  #cke_90 {
    display: none;
  }
  .list_table {
    display: block;
  }
  .list_row{
    display: block;
  }
  .list_header{
    display: none;
  }
  .col1 {
    display: block;
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-top: 1px solid #DDD;
  } 
  .col2 {
    float: left;
    width: 50%;
    padding-left: 15px;
    padding-top: 7px;
    font-size: 14px;
  }
  .col3 {
    display: inline-block;
    text-align: right;
    width: 50%;
    padding-right: 15px;
    padding-top: 7px;
    font-size: 14px;
  }
  .col4 {
    display: inline-block;
    padding-bottom: 15px;
    padding-top: 7px;
    padding-left: 2px;
    font-size: 12px;
  }
  .vcount_title{
    float: left;
    padding-left: 15px;
    font-size: 12px;
    padding-bottom: 15px;
    padding-top: 7px;
  }
  ul {
    padding-left: 20px;
  }
}

/*.map-canvas {
  height: 400 px;
  display: block;
}*/

@media(min-width:768px) {
  .list_table {
    display: table; 
    width: 100%;
  }
  .list_row {
    display: table-row;
  }
  .list_header {
    display: table-row;
  }
  .cell {
    padding: 15px; 
    border-top: 1px solid #DDD;
  }
  .col1 { 
    display: table-cell;
    width: 50%;
  }
  .col2 {
    display: table-cell;
    width: 20%;
    text-align: center;
  }
  .col3 {
    display: table-cell;
    width: 20%;
    text-align: center;
  }
  .col4 {
    display: table-cell;
    width: 10%;
    text-align: right;
  }
  .vcount_title {
    display: none;
  }
}

.submenu_button {
  border-color: #fff;
}

.contents {
  margin-top: 100px;
}

.text_submenu {
  border-bottom: 1px solid #e0e0e0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.license {
  padding-bottom: 10px;
}

@media print {
  body { 
    font-size: 11px; 
    padding: 22mm !important;
  }

  a.word_elm {
    font-family: 'SBLHebrew';
    font-size: 20px;
    direction: rtl;
    color: black !important;
    text-decoration: none !important;
  }

  li {
    font-size: 18px;
  }

  a.sblgnt_word_elm {
    font-family: 'SBLGreek';
    font-size: 18px;
    color: black !important;
    text-decoration: none !important;
  }

  .heb_kor,
  .heb_kjv,
  .gnt_kor {
    font-size: 12px;
    padding-top: 10px;
  }

  a[href]:after {
    display: none;
    visibility: hidden;
  }
  
  button {
    display: none;
  }
  
}

@media (min-width: 576px) {
  .modal-dialog {
      max-width: 2000px;
      margin: 1.75rem auto;
  }
}

/* @media (max-width: 575px) {
  .container.border {
    border-color: #DDD;
  }
} */

@media (max-width: 990px) {
  .contents {
      margin-top: 0px;
      padding-top: 120px;
  }
}

@media (max-width: 767px) {
  .site-navbar {
    padding-top: 30px;
  }
}

blockquote {  
padding: 1rem 1.2rem 1rem 1rem;  
border-left: 1rem solid #c76c0c;
  /*Font*/
  font-family: "Nanum-Gothic";
  font-size: 1rem;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  margin-left: 20px;
}
