<div class="modal modal-wide" id="verse_api">
  <div class="modal-dialog">
  <div class="modal-content">
    <!-- header -->
    <div class="modal-header">
      
      <!-- header title -->
      <h4 class="modal-title">절분석({{ section[0] }} {{ section[1] }}:{{ section[2] }})</h4>
      <!-- 닫기(x) 버튼 -->
      <button type="button" class="close" data-dismiss="modal">×</button>
    </div>
    <!-- body -->
    <div class="modal-body">
        {% autoescape false %}

        <table class="table">
            <tr>
                {% for str in verse_api['words'] %}
                <td class="analysis_heb">{{ str }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for str in verse_api['gloss'] %}
                <td>{{ str | replace (">", "") | replace ("<", "") }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for str in verse_api['pdp'] %}
                <td>{{ str }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for str in verse_api['parse'] %}
                <td>{{ str }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for str in verse_api['suff'] %}
                <td>{{ str }}</td>
                {% endfor %}
            </tr>
        </table>

        <div><span class="label label-primary">KJV</span>
            <div class="alert alert-warning">
                {% for kjv_vrs in verse_str['kjv'] %}
                {{ kjv_vrs }}
                {% endfor %}
            </div>
        </div>

        <div><span class="label label-primary">KOR</span>
            <div class="alert alert-warning">
                {% for kor_vrs in verse_str['kor'] %}
                {{ kor_vrs }}
                {% endfor %}
            </div>
        </div>

        {% endautoescape %}
    </div>
    <!-- Footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
    </div>
  </div>
  </div>
</div>
