{% extends "layout.html" %} {% block body %}
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_map_api }}"></script>
<script src="/static/js/syntax_viewer.js?ver=1.1111"></script>
<script src="/static/js/bookname.js"></script>


{% set next_chapter = chapter + 1 %} {% set prev_chapter = chapter - 1 %}

<div class="panel panel-default" style="padding: 10px;">

  <div class="text_submenu">
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle submenu_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        화면표시<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#" id="syntax_enact">절(C)/구(P)단위표시</a></li>
        <li><a href="#" id="geoinfo" data-kml="{{kml_file}}">지도표시</a></li>
        <li><a href="#" id="printing" onclick="content_print(bookname)">본문인쇄화면</a></li>
      </ul>
    </div>

    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle submenu_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        도구모음<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="/bhsheb/search/">구약원문검색</a></li>
        <li><a href="/search_tutorial/">원문검색방법</a></li>
        <li><a href="/search_sample/">원문검색예문</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="http://alphalef.com/apps/teamim/" target="_blank">테아밈분석기</a></li>
        <li><a href="http://alphalef.com/apps/Hebrew_Parsing_Quiz/" target="_blank">히브리어동사퀴즈</a></li>
        <li><a href="/bhsheb/stat/">구약텍스트통계</a></li>
        <li><a href="/bhsheb/conjugator/">히브리어동사형</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="/studytools/reading/bhsheb/?v={{ vcode }}">원문읽기도우미</a></li>
        <li role="separator" class="divider"></li>
        <li style="padding-left: 20px"><input type="checkbox" id="optAccents" /> 악센트제거</li>
        <li style="padding-left: 20px"><input type="checkbox" id="optVowels" /> 모음제거</li>
        <li style="padding-left: 20px"><input type="checkbox" id="optDagesh" /> 다게쉬제거</li>
      </ul>
    </div>

    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle submenu_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        번역본<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" style="padding-right: 10px">
        <li style="padding-left: 20px"><input type="checkbox" id="showhorizon" value="howhorizon" onclick="showhorizon('bhsheb');"> 가로배열</li>
        <li style="padding-left: 20px"><input type="checkbox" id="showkor" value="korean" checked onclick="showTrans('.heb_kor', 'showkor');"> 개역한글</li>
        <li style="padding-left: 20px"><input type="checkbox" id="showkjv" value="kjv" onclick="showTrans('.heb_kjv', 'showkjv');"> KJV</li>
      </ul>
    </div>

  </div>
  <br>

  <div class="left">
    {% if chapter > 1 %}
    <a href="/bhsheb/{{ book }}/{{ prev_chapter }}">이전 장</a><br><br> {% else %}
    <font color="white">이전 장</font><br><br> {% endif %}
  </div>

  <div class="right">
    {% if chapter < last_chp %} 
      <a href="/bhsheb/{{ book }}/{{ next_chapter }}">다음 장</a><br><br> {% else %}
      <font color="white">다음 장</font><br><br> 
    {% endif %}
  </div>

  <div id="text_body">
    <div class="center" align="center" id="selector_title">
      {% include 'bhsheb_selector.html' %}
    </div>
    <div id="printing_title"></div>

    <br>

    <div id="map-canvas" style="width:100%; height:400px; display:none"></div>
    <div id="map-comment" style="display:none">
      *위 지도에 표시된 빨간 점들은 본 장에 기록되어 있는 지역을 표시한 것입니다. 위 점을 클릭하시면 지명과 인용된 성경구절을 보실 수 있습니다. (번역본 장절 기준)<br> *본 장에 별도로 기록된 지명이 없다면 아무런 지역 표시가 되지 않습니다.<br> *Copyright ©2017 by <a href="http://www.openbible.info/geo/" target="_blank">Bible Geocoding</a>
    </div>

    <div id="verse_container">
      <div class="verse_heb" id="verse_heb">
          {% autoescape false %} {{ verse }} {% endautoescape %}
      </div>
    </div>

    <br><br>
    <hr />

    <div class="license">
        문법파싱: <b>ETCBC BHSA</b> Tagged BHS with Syntax Trees <a href="http://dx.doi.org/10.17026%2Fdans-z6y-skyh" target="_blank">10.17026/dans-z6y-skyh</a><a href="https://creativecommons.org/licenses/by-nc/4.0/deed.ko" target="_blank"> 저작자표시-비영리 4.0 국제 (CC BY-NC 4.0)</a><br>
        텍스트: <b>Biblia Hebraica Stuttgartensia</b>, © 1977/1997 Deutsche Bibelgesellschaft (원문무단변경금지)
    </div>
  </div>

</div>

<script>
  document.title = bookname["{{ book }}"] + " {{ chapter }}장(알파알렙성경)";
</script>

<script src="/static/js/hebrew_dots_strip.js?ver=1111"></script>
<script src="/static/js/text_tools.js?ver=11112"></script>


{% endblock %}
