<form class="form-inline">
    <select name="bible_selector" id="bible_selector" onchange="location.href=this.value">
        <option value="/text/Genesis" chp="50">창세기</option>
        <option value="/text/Exodus" chp="40">출애굽기</option>
        <option value="/text/Leviticus" chp="27">레위기</option>
        <option value="/text/Numbers" chp="36">민수기</option>
        <option value="/text/Deuteronomy" chp="34">신명기</option>
        <option value="/text/Joshua" chp="24">여호수아</option>
        <option value="/text/Judges" chp="21">사사기</option>
        <option value="/text/1_Samuel" chp="31">사무엘상</option>
        <option value="/text/2_Samuel" chp="24">사무엘하</option>
        <option value="/text/1_Kings" chp="22">열왕기상</option>
        <option value="/text/2_Kings" chp="25">열왕기하</option>
        <option value="/text/Isaiah" chp="66">이사야</option>
        <option value="/text/Jeremiah" chp="52">예레미야</option>
        <option value="/text/Ezekiel" chp="48">에스겔</option>
        <option value="/text/Hosea" chp="14">호세아</option>
        <option value="/text/Joel" chp="4">요엘</option>
        <option value="/text/Amos" chp="9">아모스</option>
        <option value="/text/Obadiah" chp="1">오바댜</option>
        <option value="/text/Jonah" chp="4">요나</option>
        <option value="/text/Micah" chp="7">미가</option>
        <option value="/text/Nahum" chp="3">나훔</option>
        <option value="/text/Habakkuk" chp="3">하박국</option>
        <option value="/text/Zephaniah" chp="3">스바냐</option>
        <option value="/text/Haggai" chp="2">학개</option>
        <option value="/text/Zechariah" chp="14">스가랴</option>
        <option value="/text/Malachi" chp="3">말라기</option>
        <option value="/text/Psalms" chp="150">시편</option>
        <option value="/text/Job" chp="42">욥기</option>
        <option value="/text/Proverbs" chp="31">잠언</option>
        <option value="/text/Ruth" chp="4">룻기</option>
        <option value="/text/Song_of_songs" chp="8">아가서</option>
        <option value="/text/Ecclesiastes" chp="12">전도서</option>
        <option value="/text/Lamentations" chp="5">예레미야애가</option>
        <option value="/text/Esther" chp="10">에스더</option>
        <option value="/text/Daniel" chp="12">다니엘</option>
        <option value="/text/Ezra" chp="10">에스라</option>
        <option value="/text/Nehemiah" chp="13">느헤미야</option>
        <option value="/text/1_Chronicles" chp="29">역대상</option>
        <option value="/text/2_Chronicles" chp="36">역대하</option>
    </select>

    <select name="chp_selector" id="chp_selector" onchange="location.href=this.value">
    </select>
</form>

<script>
$(function(){
    var chp = $("#bible_selector option:selected").attr("chp");
    for(var i=1; i <= chp; i++){
        if(i == {{ chapter }}) {
            $("#chp_selector").append("<option value='/text/{{ book }}/"+i+"' selected>"+i+"</option>");
        }
        else {
            $("#chp_selector").append("<option value='/text/{{ book }}/"+i+"'>"+i+"</option>");
        }
    }
})

$("#bible_selector option[value='/text/{{ book }}']").prop("selected", true);
</script>