{% extends "layout.html" %}
{% block body %}
    {% autoescape false %}

    {% if table == 'commentary' %}
        {% set main = '오픈주석' %}
    {% elif table == 'classic' %}
        {% set main = '클래식 주석' %}
    {% endif %}

    {% if mode == 'mycommentary' %}
        {% set listurl = '/commentary/mylist/?p=' + pagenum|string %}
    <!-- vcode의 경우 사이절이나 끝절에 있을 경우 어떻게 리턴?? -->
    {% elif mode == 'myvcode' or mode == 'vcode' %}
        {% set listurl = '/commentary/vcode/' + vcode|string + '/' %}
    {% elif mode == 'commentary' %}
        {% set listurl = '/commentary/list/?p=' + pagenum|string %}
    {% elif mode == 'classic' %}
        {% set listurl = '/classic/list/?p=' + pagenum|string %}
    {% else %}
        {% set listurl = '/' + table + '/list/' %}
    {% endif %}


    <div class="container border border-secondary rounded" style="padding: 20px;">

                <div class="page-header">
                    <h1>{{ main }}</h1>
                </div>
                <hr />
                <br>
                <div class="commentary_title">
                    <h2>{{ view[4] }}</h2>
                </div>
                <div class="vcode" style="font-size:18px;">
                    본문: {{ view[8] }}
                </div>
                <br>
                작성: {{ view[2] }} ({{ identity }})
                <br>
                {% set date = view[1].split('.') %}
                작성시간: {{ date[0] }}
                <br>
                {% if view[12] %}
                    {% set editied_date = view[12].split('.') %}
                    수정시간: {{ editied_date[0] }}
                <br>
                {% endif %}
                조회수: {{ view[11] }}
                <br>
                {% if view[13] == 0 %}
                    <span><font color="red">비공개</font></span>
                {% endif %}
                <br><br><br>
                <div class="commentary_contents">
                    {{ view[5] }}
                </div>

                <br>

                <span class="sociallink ml-1">
                    <img src="/static/img/kakao.png" width=36 alt="Kakaotalk" onclick="sendLinkKakao()">
                </span>
                 
                <span class="sociallink ml-1">
                    <img src="/static/img/naver.png" width=36 alt="Kakaotalk" onclick="sendLinkNaver()">
                </span>
                 
                <span class="sociallink ml-1">
                    <img src="/static/img/facebook.png" width=36 alt="Kakaotalk" onclick="sendLinkFacebook()">
                </span>
                 
                <span class="sociallink ml-1">
                    <img src="/static/img/twitter.png" width=36 alt="Kakaotalk" onclick="sendLinkTwitter()">
                </span>
            
                <br><br>
                <button class="btn btn-secondary" onclick="location.href = '{{ listurl }}';">목록보기</button>
                {% if current_user.user_id == view[3] %}
                &nbsp <button class="btn btn-warning" onclick="location.href = '/{{ table }}/edit/{{ view[0] }}';">글 수정하기</button>
                &nbsp <button class="btn btn-danger" onclick="location.href = '/{{ table }}/remove/confirm/{{ view[0] }}?n={{ listurl }}';">글 삭제하기</button>
                {% endif %}

                <br><br>

                <div id="disqus_thread"></div>
                <script>
                    /**
                    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                    
                    var disqus_config = function () {
                    this.page.url = "https://app.alphalef.com/{{ table }}/view/{{ view[0] }}/{{ view[10] }}/";  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "{{ table }}-{{ view[0] }}-{{ view[10] }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };
                    
                    (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://alpaalrebseonggyeong.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>  

                <!-- 소셜링크 -->
                <script type="text/javascript">                    
                    Kakao.init('062c1050eef5ed2c680d281999db675a');
                    function sendLinkKakao(){
                        Kakao.Link.sendDefault({
                            objectType: 'feed',
                            content: {
                                title: '{{ view[4] }}',
                                imageUrl: '{{ view[5]|getimgurl }}',
                                link: {
                                    mobileWebUrl: 'https://app.alphalef.com/{{ table }}/view/{{ view[0] }}/{{ view[10] }}/',
                                    webUrl: 'https://app.alphalef.com/{{ table }}/view/{{ view[0] }}/{{ view[10] }}/'
                                }
                            },
                            buttons: [       
                                {
                                    title: '링크 열기',
                                    link: {
                                        mobileWebUrl: 'https://app.alphalef.com/{{ table }}/view/{{ view[0] }}/{{ view[10] }}/',
                                        webUrl: 'https://app.alphalef.com/{{ table }}/view/{{ view[0] }}/{{ view[10] }}/'
                                    }
                                }
                            ]
                        }); 
                    };

                    function sendLinkFacebook(){

                        var facebook_share_url = "https://www.facebook.com/sharer/sharer.php?u=https://app.alphalef.com/{{ table }}/view/{{ view[0] }}/{{ view[10] }}/";
                        window.open(facebook_share_url, 
                                    'Share on Facebook', 
                                    'scrollbars=no, width=500, height=500');    
                        // return false;
                        // FireFox에서는 anchor tag에 걸린 함수에 명시된 return 값이 있으면 그 값을 string 으로 화면에 띄우는 버그(? 인지 의도된 동작인지?) 발생.
                        // 즉 return false; 해놓으면 Facebook 걸려있는 anchor tag 클릭했을때 새 창이 뜨고 원래 창에는 흰 화면에 false 라고 글자가 표시된다.
                        // 이를 방지하기 위해서 return false; 는 지워주었음
                    }

                    function sendLinkTwitter(){
                        var twitter_share_text="{{ view[4] }}";
                        var twitter_share_url="https://app.alphalef.com/{{ table }}/view/{{ view[0] }}/{{ view[10] }}/";
                        window.open("https://twitter.com/share?text="+twitter_share_text+"&url="+twitter_share_url,
                                    'Share on Twitter',
                                    'scrollbars=no, width=500, height=500');
                    }

                    function sendLinkNaver(){
                        var raw_url = "https://app.alphalef.com/{{ table }}/view/{{ view[0] }}/{{ view[10] }}/";
                        var raw_title = "{{ view[4] }}"
                        var naver_root_url = "http://share.naver.com/web/shareView.nhn?url="
                        var naver_share_url = naver_root_url+encodeURI(raw_url)+"&title="+encodeURI(raw_title);

                        window.open(naver_share_url,
                                    'Share on Naver',
                                    'scrollbars=no, width=500, height=500');    
                    }
                </script>
               
        <br><br>
    </div>
    <script>
        document.title = "{{ view[4] }}";
    </script>


    {% endautoescape %}
{% endblock %}
