{% extends "layout.html" %}
{% block body %}
    {% autoescape false %}
    <div class="container border border-secondary rounded" style="padding: 20px;">
           
                <div>
                    <h1>커뮤니티</h1>
                    <hr />
                    <p>기존의 댓글 장치에 과도한 광고가 붙는 관계로 댓글 시스템을 변경하였습니다. 이 댓글 시스템은 별도의 로그인 없이 사용하실 수 있으며 작성하시고 난 후 15분 내에 삭제하실 수 있습니다. 혹시 이후에라도 댓글을 삭제하시고자 한다면 저에게 알려 주시면 삭제해 드리도록 하겠습니다. (<a href="mailto:kungsik@gmail.com">kungsik@gmail.com</a>) 자유롭게 본 사이트에 대한 질문이나 건의사항을 말씀해 주시면 감사하겠습니다.</p>
                </div>

                <script>document.title = "알파알렙 커뮤니티";</script>
                <div id="isso-thread"></div>
                <script data-isso="https://kungsik2.pythonanywhere.com/"
                        data-isso-lang="ko"
                        data-isso-require-author="false"
                        data-isso-require-email="false"
                        data-isso-vote="false"
                        data-isso-max-comments-top="10"
                        data-isso-reveal-on-click="10"
                        src="https://kungsik2.pythonanywhere.com/js/embed.min.js">
                </script>

                <br>

    </div>
<!-- </div> -->
    {% endautoescape %}
{% endblock %}


