{% extends "layout.html" %}
{% block body %}
    {% autoescape false %}

    {% if table == 'commentary' %}
        {% set main = '오픈주석' %}
    {% elif table == 'classic' %}
        {% set main = '클래식 주석' %}
    {% endif %}

<!-- <div class="modal modal-wide" id="commentary">     -->
    <div id="commentary_container" class="panel panel-default">
        <div class="panel-body">
            <div class="panel-container">
                <div>
                    <h1>{{ main }}</h1>
                </div>
                <br>
                <div class="list_table" style="font-size: 16px">

                    <span class="list_header">
                        <span class="cell col1">본문과 제목</span>
                        <span class="cell col2">작성</span>
                        <span class="cell col3">작성일</span>
                        <span class="cell col4">조회</span>
                    </span>

                {% if vcode %}
                    {% for list in lists['classic'] %}
                        <span class="list_row">
                            <span class="cell col1">{{ list[8] }} · <a href="/classic/view/{{ list[0] }}/{{ list[10] }}/">{{ list[4] }}</a> <span class="disqus-comment-count" data-disqus-identifier="{{ table }}-{{ list[0] }}-{{ list[10] }}"></span></span>
                            <span class="cell col2">{{ list[2] }}</span>
                            {% set date = list[1].split(' ') %}
                            <span class="cell col3">{{ date[0] }}</span>
                            <span class="vcount_title">조회수 | </span>
                            <span class="cell col4">{{ list[11] }}</span>
                        </span>
                    {% endfor %}    
                    {% for list in lists['commentary'] %}
                        <span class="list_row">
                            <span class="cell col1">{{ list[8] }} · <a href="/commentary/view/{{ list[0] }}/{{ list[10] }}/">{{ list[4] }}</a>  <span class="disqus-comment-count" data-disqus-identifier="{{ table }}-{{ list[0] }}-{{ list[10] }}"></span>
                            <span class="cell col2">{{ list[2] }}</span>
                            {% set date = list[1].split(' ') %}
                            <span class="cell col3">{{ date[0] }}</span>
                            <span class="vcount_title">조회수 | </span>
                            <span class="cell col4">{{ list[11] }}</span>
                        </span>
                    {% endfor %}

                {% else %}
                    {% for list in lists %}
                        <span class="list_row">
                            <span class="cell col1">{{ list[8] }} · <a href="/{{ table }}/view/{{ list[0] }}/{{ list[10] }}/#disqus_thread">{{ list[4] }}</a> <span class="disqus-comment-count" data-disqus-identifier="{{ table }}-{{ list[0] }}-{{ list[10] }}"></span></span>
                            <span class="cell col2">{{ list[2] }}</span>
                            {% set date = list[1].split(' ') %}
                            <span class="cell col3">{{ date[0] }}</span>
                            <span class="vcount_title">조회수 | </span>
                            <span class="cell col4">{{ list[11] }}</span>
                        </span>
                    {% endfor %}
                {% endif %}
                </div>
                <br><br>
                {% if current_user.name %}
                    {% if vcode %}
                        <button class="btn btn-default" onclick="location.href = '/commentary/add/{{ vcode }}';">오픈주석 작성</button>    
                        <button class="btn btn-default" onclick="location.href = '/classic/add/{{ vcode }}';">클래식주석 작성</button>
                    {% else %}
                        <button class="btn btn-default" onclick="location.href = '/{{ table }}/add/{{ vcode }}';">글 작성하기</button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        document.title = "알파알렙 오픈주석 보기";
    </script>
    <script id="dsq-count-scr" src="//alpaalrebseonggyeong.disqus.com/count.js?v=11" async></script>
    
<!-- </div> -->
    {% endautoescape %}
{% endblock %}
