{% extends "layout.html" %}
{% block body %}
    {% autoescape false %}
        <div class="container border border-secondary rounded" style="padding: 20px;">
            <div>
                <h1>알파알렙 주석소개</h1>
            </div>
            <hr />
            <br>
            <div style="font-size: 16px; line-height: 1.5em;">
                <h3>알파알렙 주석이 목표로 삼는 것</h3>
                <p>알파알렙은 제가 이스라엘에서 학위 과정을 하던 중 제 개인적인 필요와 목적에서 시작되었습니다. 그러다가 제 주변 지인들에게 이 프로그램을 알려드리게 되었고 또 그 분들과 sns 등을 통해 원어 성경에 관심있는 많은 분들에게 알려지게 된 것 같습니다.&nbsp;그리고 최근 신약 헬라어 본문을 업데이트하고 이전보다는 어느 정도 사용성을 개선했습니다. 물론 앞으로도 새로운 기능과 사용성에 대한 업데이트는 계속해서 진행해 나갈 예정입니다.</p>
                <p>이 프로젝트를 진행하면서 어느 순간 제가 목표로 삼게된 것은 이 프로젝트가 "공짜"의 개념이 아니라 "공유"의 개념으로 인식되었으면 하는 것이었습니다. 알파알렙은 일종의 플래폼 개념으로 구축되고 있습니다. 지금까지는 기본적인 언어 데이터를 구축하고 사용자들이 보다 편하게 자료를 보실 수 있게 하는데에 시간을 들였습니다. 성경을 이해하는 아주 기초적인 작업이 된 셈입니다. 그러나 앞으로는 이 기초자료를 바탕으로 한 다양한 파생 작업들을 만들어갈 예정입니다.&nbsp;</p>
                <p>오픈 주석은 이런 생각에서 시작한 첫 확장틀입니다. 원어 성경을 문법 문석의 도움을 받아 읽고, 함께 공유하는 주석을 통해 성경 본문에 대한 깊이를 더해갈 수 있는 장이 되기를 바라는 마음입니다. 거창하게 타이틀을 "주석"이라고 달기는 했지만 전문적인 주석 수준만을 희망하는 것은 아닙니다. 학문적인 주석이 될 수도, 개인 묵상이나 간증, 그리고 큐티 내용이라도 좋습니다. 함께 기여해 주실 수 있는 부분에 동참해 주셔서 좋은 말씀의 밑거름이 될 프로그램을 함께 만들어 나갔으면 좋겠습니다.</p>
                <p>&nbsp;</p>
                <h3>오픈주석과 클래식 주석</h3>
                <p>현재 알파알렙 주석에는 오픈주석과 클래식 주석 두 가지 카테고리가 있습니다. 오픈주석은 사용자분들의 자료를 함께 공유하는 공간입니다. 이 경우, 당연히 글에 대한 저작권과 소유권은 글을 작성하신 분들께 있게 됩니다.&nbsp;</p>
                <p>다른 하나는 클래식 주석입니다. 이 주석은 고전적인 주석들, 초대 교부들이나 유대 주석가들의 주석에서부터 종교개혁 시대의 주석까지 기독교 전통의 근간과 뿌리가 되었던 주석들을 공유하는 공간입니다. 옛 것이라고 해서 시대에 뒤떨어진 것은 아니라고 생각합니다. 믿을 수 있는 정보를 골라내기가 힘들 정도로 여러 자료들이 혼재한 이 때, 고전을 참고하는 것도 중요하다고 생각합니다. 그리고 무엇보다 저작권의 제약을 받지 않는 자료들이 대부분이기 때문에 공유도 비교적 자유롭습니다.&nbsp;</p>
                <p>클래식 주석의 경우 원문 자료가 대부분입니다. 그렇기 때문에 번역작업 또한 함께 해 나갈 예정입니다. 혹 이 부분에 도움 주실 분들이 계시다면 함께 협력하여 좋은 자료를 잘 구축해 나갔으면 좋겠습니다.&nbsp;</p>
                <p>&nbsp;</p>
                <h3>회원 가입</h3>
                <p>오픈 주석을 추가하시기 위해서는 회원가입을 먼저 해 주셔야 합니다. 회원 가입시 최소한의 정보만을 받습니다. 알파알렙 오픈 주석은 컨텐츠를 공유하는 플래폼이기 때문에 글에 대한 소유권은 글을 올리신 분들에게 있습니다. 고유한 저작에 대한 증명은 개인 이메일로 확인될&nbsp; 수 있습니다.</p>
                <p><span style="background-color: #ffff00;">현재 회원 시스템을 계속해서 개선하는 가운데 있는데, 아직 비밀번호 찾기나 탈퇴 기능 등을 별도로 만들지 못했습니다. 당분간은 비밀번호를 잃어버리셨거나 탈퇴를 원하시는 경우는 가입하신 이메일을 통해 저에게 연락을 주시면 계정 삭제할 수 있는 링크를 별도로 보내드리도록 하겠습니다. 비밀번호나 이름 변경을 원하시는 경우, 시스템 상 단방향 암호화로 서버에 저장되기 때문에 운영자도 여러분들이 어떤 비밀번호를 입력하셨는지 알 길이 없습니다. 그래서 비밀번호를 변경하기 원하시거나 이름(닉네임)을 변경하시기 원하시는 경우에도 저에게 계정 삭제 요청을 해 주시고, 계정 삭제 후 재가입을 통해 정보 변경을 진행하시면 됩니다.</span></p>
                <p>&nbsp;</p>
                <h3>주석 보기</h3>
                <p>주석을 보는 것은 회원가입 없이도 가능합니다. 전체 데이터는 주석 메뉴에서 "오픈주석"이나 "클래식 주석"을 클릭하시면 해당 카테고리에 저장되어 있는 모든 데이터를 보실 수 있습니다. 그리고 아래 그림과 같이 원어 본문의 각 절 끝에 "주석" 버튼이 위치하고 있는데 이 버튼을 클릭하시면 해당 구절을 포함하고 있는 클래식 주석과 오픈주석 리스트를 보실 수 있습니다.</p>
                <p><img style="text-align: center;" src="../../static/img/commentary01.png" /></p>
                <p>&nbsp;</p>
                <h3>주석 추가</h3>
                <p>주석 추가는 회원 가입/로그인을 하신 이후에 사용하실 수 있습니다. 제목이나 내용 등을 자유롭게 올리시면 됩니다. 그런데 주석 추가시 중요한 것은 구절 코드를 입력하는 것입니다. 구절 코드 입력 방법은 이 <a href="https://app.alphalef.com/commentary/vcode/" target="_blank" rel="noopener">링크</a>를 클릭해 주십시오.</p>
                <p>구절코드가 중요한 이유는 이 정보가 정확해야 성경의 원어 본문과 정확히 매치가 되기 때문입니다. 그리고 때로 한 구절에 대한 주석이 아니라 여러 절에 걸친 주석을 작성하실 수 있습니다. 이 경우 여러 절들을 포함하는 구절 코드 (예. 창1:1-3의 경우는 1001001-1001003)를 정확히 입력해 주시면 창세기 1장 1,2,3절에 붙어 있는 주석 버튼을 클릭할 때마다 입력하신 주석이 리스트에 뜹니다. 주석 리스트를 정확하게 입력하신 후에 글추가를 하시면 해당 성경 구절이 제목 앞에 아래와 같이 자동으로 추가됩니다.</p>
                <p><img style="text-align: center;" src="../../static/img/commentary02.png" /></p>
                <p>&nbsp;</p>
                <p>한 가지 팁은 로그인 하신 이후에 각 본문 구절 끝에 위치해 있는 주석 버튼을 클릭하신 이후에 글 추가를 하시는 것입니다. 이 경우 해당 구절의 구절 코드가 입력란에 자동으로 입력됩니다. 이후에 추가되는 범위를 넣어 주시면 효율적으로 입력하실 수 있습니다. 단 이 경우, 오픈주석작성 버튼 클래식주석작성 버튼 두 개가 생성됩니다. 올리시는 글의 성격에 맞는 작성버튼을 누르셔서 업로드해 주시면 됩니다.</p>
                <p>앞서 말씀드렸듯이 오픈 주석에 들어갈 내용은 특정하게 정해진 것은 없습니다. 개인 자료 관리의 용도로도 사용하실 수 있을 것입니다. 다만 함께 공유해 나간다는 점만 생각해 주시면 감사하겠습니다. 이를 기초로 앞으로 "오픈 사전", "오픈 성경 번역본" 등의 프로젝트들을 추가로 해 나갈 예정입니다. 뜻있는 분들의 많은 협력 부탁드립니다!</p>
            </div>
        </div>

        <script>
            document.title = "알파알렙 오픈주석 보기";
        </script>
    {% endautoescape %}
{% endblock %}
