{% extends "layout.html" %}
{% block body %}
    {% autoescape false %}
    <div id="commentary_container" class="panel panel-default">
        <div class="panel-body">
            {% if current_user.name %}
            <div style="text-align: right">
            {{ current_user.name }}님으로 로그인 됨
            </div>
            {% endif %}

            {% if cview %}
            <h1>오픈주석 수정하기</h1>
                {% set title = cview[3] %}
                {% set vcode = cview[6] %}
                {% set text = cview[4] %}
                {% set url = '/commentary/edit/' + cview[0]|string %}
                {% set button_name = '수정하기' %}
            {% else %}
            <h1>오픈주석 추가하기</h1>
                {% set title = '' %}
                {% set text = '' %}
                {% set url = '/commentary/add/' %}
                {% set button_name = '작성' %}
            {% endif %}

            {% if vcode == 1 %}
                {% set vcode = '' %}
            {% endif %}

            <hr />

            <script type="text/javascript" src="/static/editor/js/service/HuskyEZCreator.js" charset="utf-8"></script>
            
            <form name = "commentary_add" method="POST" action="{{ url }}" onsubmit="return validate()">
                <input type="text" name="commentary_title" class="form-control" placeholder="제목" id="commentary_title" value="{{ title }}"><br>
                <div class="row">
                    <div class="col-lg-6">
                        <input type="text" name="commentary_vcode" class="form-control" placeholder="구절코드" id="commentary_vcode" value="{{ vcode }}">
                    </div>
                </div>      
                <br>
                <textarea name="commentary_text" id="commentary_text" rows="20" style="width:100%;" id="commentary_text">{{ text }}</textarea>
                <input type="submit" class="btn btn-default" value="{{ button_name }}" onclick="updatetext()"></button>
            </form>
        </div>
    </div>
    
    <script type="text/javascript">
        var oEditors = [];
        nhn.husky.EZCreator.createInIFrame({
         oAppRef: oEditors,
         elPlaceHolder: "commentary_text",
         sSkinURI: "/static/editor/SmartEditor2Skin.html",
         fCreator: "createSEditor2",
         htParams: { fOnBeforeUnload : function(){}} 
        });
        
        // 에디터 내용을 textarea로 옮김
        function updatetext() {
            oEditors[0].exec("UPDATE_CONTENTS_FIELD");
        }

        // 폼에 입력값이 없을 경우 경고
        function validate() {
            if( document.getElementById('commentary_title').value == "" ) {
                alert( "제목을 입력해 주세요!" );
                document.getElementById('commentary_title').focus();
                return false
            }
            if( document.getElementById('commentary_vcode').value == "" ) {
                alert( "구절코드를 입력해 주세요!" );
                document.getElementById('commentary_vcode').focus();
                return false
            }
            return true;
        }
    </script>

    {% endautoescape %}
{% endblock %}
