{% extends "layout.html" %}
{% block body %}
    {% autoescape false %}
    <div id="commentary_container" class="panel panel-default">
        <div class="panel-body">
            <h1 id="통계기능-튜토리얼" style="margin-top: 0px; margin-bottom: 16px; font-size: 2.25em; font-weight: 600; line-height: 1.2; color: rgb(0, 0, 0); padding-bottom: 0.3em; border-bottom: 1px solid rgb(214, 214, 214);">구절코드 작성 요령</h1>
            <ul style="margin-bottom: 16px; padding-left: 2em;">
                <li style="margin-bottom: 0px;">검색코드는 7자리 혹은 8자리 숫자 코드로 이루어져 있습니다.</li>
                <li style="margin-bottom: 0px;">검색코드의 각 숫자는 책 - 장 - 절을 의미합니다.</li>
                <li style="margin-bottom: 0px;">책 코드는 1자리 숫자 혹은 2자리 숫자로 표현되고(아래 책 코드표 참조), 장과 절 코드는 무조건 3자리 숫자로 표현됩니다. 아래의 예를 참고해 주세요.</li>
            </ul>
            <blockquote style="padding: 0px 15px; margin-bottom: 16px; font-size: inherit; border-left-width: 4px; border-left-color: rgb(214, 214, 214); color: rgb(92, 92, 92);">
                <p>창세기 1:1 =&gt; 1001001(1 + 001 + 001)<br>마태복음 20:12 =&gt; 40020012(40 + 020 +012)</p>
            </blockquote>
            <ul style="margin-bottom: 16px; padding-left: 2em;">
                <li style="margin-bottom: 0px;">작성하시는 주석이 여러 절에 걸쳐 있을 때에는 해당 구절의 범위를 입력하시면 됩니다. 시작절과 끝절 사이에 - 부호를 아래와 같이 입력하시면 됩니다.&nbsp;</li>
            </ul>
            <blockquote style="padding: 0px 15px; margin-bottom: 16px; font-size: inherit; border-left-width: 4px; border-left-color: rgb(214, 214, 214); color: rgb(92, 92, 92);">
                <p>창세기 1:1~창세기 1:3 =&gt; 1001001-1001003<br></p>
            </blockquote>
            <div>
                <br>
            </div>
        </div>
    </div>
    {% endautoescape %}
{% endblock %}
