{% extends "layout.html" %} {% block body %}

<div class="markdown-preview-enhanced" style="width:100%"> 
  <h1 id="&#xAC80;&#xC0C9;&#xAE30;&#xB2A5;-&#xD29C;&#xD1A0;&#xB9AC;&#xC5BC;">커뮤니티</h1>
  <p>알파알렙 성경 임시 커뮤니티를 오픈했습니다. 앞으로 더 보완된 모습의 커뮤니티를 마련할 예정인데 일단 이렇게 임시로나마 소통의 창구를 만들었습니다. 혹시 알파알렙 성경을 이용하시면서 좋은 의견이나 의문 있으시면 여기에 말씀해 주시면 감사하겠습니다. ^^;;</p>
</div>

<!-- 라이브리 시티 설치 코드 -->
<div id="lv-container" data-id="city" data-uid="MTAyMC80NTk0Mi8yMjQ1Mw==">
	<script type="text/javascript">
   (function(d, s) {
       var j, e = d.getElementsByTagName(s)[0];

       if (typeof LivereTower === 'function') { return; }

       j = d.createElement(s);
       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
       j.async = true;

       e.parentNode.insertBefore(j, e);
   })(document, 'script');
	</script>
<noscript> 라이브리 댓글 작성을 위해 JavaScript를 활성화 해주세요</noscript>
</div>
<!-- 시티 설치 코드 끝 -->

<script>
  document.title = "알파알렙 커뮤니티";
</script>


{% endblock %}
