{% extends "layout.html" %}
{% block body %}
    {% autoescape false %}
    <div id="commentary_container" class="panel panel-default">
        <div class="panel-body">
            <div class="panel-container">
                <h1 id="통계기능-튜토리얼" style="margin-top: 0px; margin-bottom: 16px; font-size: 2.25em; font-weight: 600; line-height: 1.2; color: rgb(0, 0, 0); padding-bottom: 0.3em; border-bottom: 1px solid rgb(214, 214, 214);">구절코드 작성 요령</h1>
                <ul style="margin-bottom: 16px; padding-left: 2em;">
                    <li style="margin-bottom: 0px;">검색코드는 7자리 혹은 8자리 숫자 코드로 이루어져 있습니다.</li>
                    <li style="margin-bottom: 0px;">검색코드의 각 숫자는 책 - 장 - 절을 의미합니다.</li>
                    <li style="margin-bottom: 0px;">책 코드는 1자리 숫자 혹은 2자리 숫자로 표현되고(아래 책 코드표 참조), 장과 절 코드는 무조건 3자리 숫자로 표현됩니다. 아래의 예를 참고해 주세요.</li>
                </ul>
                <blockquote style="padding: 0px 15px; margin-bottom: 16px; font-size: inherit; border-left-width: 4px; border-left-color: rgb(214, 214, 214); color: rgb(92, 92, 92);">
                    <p>창세기 1:1 =&gt; 1001001(1 + 001 + 001)<br>마태복음 20:12 =&gt; 40020012(40 + 020 +012)</p>
                </blockquote>
                <ul style="margin-bottom: 16px; padding-left: 2em;">
                    <li style="margin-bottom: 0px;">작성하시는 주석이 여러 절에 걸쳐 있을 때에는 해당 구절의 범위를 입력하시면 됩니다. 시작절과 끝절 사이에 - 부호를 아래와 같이 입력하시면 됩니다.&nbsp;</li>
                </ul>
                <blockquote style="padding: 0px 15px; margin-bottom: 16px; font-size: inherit; border-left-width: 4px; border-left-color: rgb(214, 214, 214); color: rgb(92, 92, 92);">
                    <p>창세기 1:1~창세기 1:3 =&gt; 1001001-1001003<br></p>
                </blockquote>
                <br><br>
                책 코드
                <br><br>
                <table style="margin: 10px 0px 15px; display: block; width: 916px; overflow: auto; word-break: keep-all;">
                    <thead>
                        <tr>
                            <th style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">구약</th>
                            <th style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">코드</th>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">신약</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">코드</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">창세기</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">1</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">마태복음</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">40</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">출애굽기</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">2</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">마가복음</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">41</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">레위기</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">3</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">누가복음</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">42</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">민수기</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">4</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">요한복음</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">43</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">신명기</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">5</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">사도행전</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">44</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">여호수아</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">6</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">로마서</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">45</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">사사기</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">7</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">고린도전서</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">46</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">사무엘상</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">8</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">고린도후서</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">47</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">사무엘하</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">9</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">갈라디아서</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">48</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">열왕기상</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">10</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">에베소서</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">49</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">열왕기하</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">11</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">빌립보서</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">50</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">이사야</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">12</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">골로새서</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">51</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">예레미야</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">13</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">데살로니가전서</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">52</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">에스겔</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">14</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">데살로니가후서</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">53</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">호세아</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">15</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">디모데전서</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">54</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">요엘</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">16</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">디모데후서</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">55</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">아모스</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">17</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">디도서</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">56</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">오바댜</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">18</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">빌레몬서</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">57</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">요나</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">19</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">히브리서</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">58</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">미가</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">20</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">야고보서</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">59</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">나훔</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">21</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">베드로전서</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">60</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">하박국</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">22</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">베드로후서</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">61</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">스바냐</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">23</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">요한1서</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">62</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">학개</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">24</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">요한2서</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">63</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">스가랴</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">25</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">요한3서</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">64</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">말라기</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">26</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">유다서</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">65</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">시편</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">27</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">요한계시록</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">66</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">욥기</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">28</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);"><br></td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);"><br></td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">잠언</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">29</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);"><br></td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);"><br></td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">룻기</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">30</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);"><br></td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);"><br></td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">아가서</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">31</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);"><br></td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);"><br></td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">전도서</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">32</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);"><br></td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);"><br></td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">예레미야 애가</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">33</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);"><br></td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);"><br></td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">에스더</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">34</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);"><br></td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);"><br></td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">다니엘</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">35</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);"><br></td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);"><br></td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">에스라</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">36</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);"><br></td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);"><br></td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">느헤미야</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">37</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);"><br></td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);"><br></td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">역대상</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">38</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);"><br></td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);"><br></td>
                        </tr>
                        <tr>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">역대하</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);">39</td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);"><br></td>
                            <td style="padding: 6px 13px; border: 1px solid rgb(214, 214, 214);"><br></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endautoescape %}
{% endblock %}
