{% extends "layout.html" %}
{% block body %}
    {% autoescape false %}

    {% if category == 'mylist' %}
        {% set main = '내오픈주석' %}
        {% set mode = '?mode=mycommentary&p=' + pagenum|string %}
    {% elif category == 'myvcode' %}
        {% set main = '' %}
        {% set mode = '?mode=myvcode&v=' + vcode|string + '&p=' + pagenum|string %}
    {% elif category == 'vcode' %}
        {% set main = '' %}
        {% set mode = '?mode=vcode&v=' + vcode|string + '&p=' + pagenum|string %}
    {% elif table == 'commentary' %}
        {% set main = '오픈주석' %}
        {% set mode = '?mode=commentary&p=' + pagenum|string %}
    {% elif table == 'classic' %}
        {% set main = '클래식 주석' %}
        {% set mode = '?mode=classic&p=' + pagenum|string %}
    {% endif %}

<!-- <div class="modal modal-wide" id="commentary">     -->
    <div class="container border border-secondary rounded" style="padding: 20px;">
        
        <div>
            <h1>{{ main }}</h1>
        </div>
        <br>
        <div class="list_table" style="font-size: 16px">

            <span class="list_header">
                <span class="cell col1">본문과 제목</span>
                <span class="cell col2">작성</span>
                <span class="cell col3">작성일</span>
                <span class="cell col4">조회</span>
            </span>

        {% if vcode %}
            {% for list in lists['classic'] %}
                <span class="list_row" onclick='location.href="/classic/view/{{ list[0] }}/{{ list[10] }}/{{ mode }}"'>
                    <span class="cell col1">{{ list[8] }} · <a href="/classic/view/{{ list[0] }}/{{ list[10] }}/{{ mode }}">{{ list[4] }}</a> <span class="disqus-comment-count" data-disqus-identifier="{{ table }}-{{ list[0] }}-{{ list[10] }}"></span></span>
                    <span class="cell col2">{{ list[2] }}</span>
                    {% set date = list[1].split(' ') %}
                    <span class="cell col3">{{ date[0] }}</span>
                    <span class="vcount_title">조회수 | </span>
                    <span class="cell col4">{{ list[11] }}</span>
                </span>
            {% endfor %}    
            {% for list in lists['commentary'] %}
                {% if category == 'mylist' or category == 'myvcode' %}
                    {% if list[13] == 0 %}
                        {% set header = '[비공개] ' %}
                    {% endif %}
                {% endif %}
                <span class="list_row" onclick='location.href="/commentary/view/{{ list[0] }}/{{ list[10] }}/{{ mode }}"'>
                    <span class="cell col1">{{ list[8] }} · {{ header }}<a href="/commentary/view/{{ list[0] }}/{{ list[10] }}/{{ mode }}">{{ list[4] }}</a>  <span class="disqus-comment-count" data-disqus-identifier="{{ table }}-{{ list[0] }}-{{ list[10] }}"></span></span>
                    <span class="cell col2">{{ list[2] }}</span>
                    {% set date = list[1].split(' ') %}
                    <span class="cell col3">{{ date[0] }}</span>
                    <span class="vcount_title">조회수 | </span>
                    <span class="cell col4">{{ list[11] }}</span>                    
                </span>
            {% endfor %}

        {% else %}
            {% for list in lists %}
                {% if category == 'mylist' %}
                    {% if list[13] == 0 %}
                        {% set header = '[비공개] ' %}
                    {% endif %}
                {% endif %}
                <span class="list_row" onclick='location.href="/{{ table }}/view/{{ list[0] }}/{{ list[10] }}/{{ mode }}"'>
                    <span class="cell col1">{{ list[8] }} · {{ header }}<a href="/{{ table }}/view/{{ list[0] }}/{{ list[10] }}/{{ mode }}">{{ list[4] }}</a> <span class="disqus-comment-count" data-disqus-identifier="{{ table }}-{{ list[0] }}-{{ list[10] }}"></span></span>
                    <span class="cell col2">{{ list[2] }}</span>
                    {% set date = list[1].split(' ') %}
                    <span class="cell col3">{{ date[0] }}</span>
                    <span class="vcount_title">조회수 | </span>
                    <span class="cell col4">{{ list[11] }}</span>
                </span>
            {% endfor %}
            </div><br>
            
            <div style="text-align: center">
                <ul class="pagination justify-content-center">
                    {% if pagenum|int == 1 %}
                        <li class="page-item disabled">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                        <a class="page-link" href="/{{ table }}/{{ category }}/?p={{ pagenum|int - 1 }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                        </li>

                    {% for n in range(totalpage)  %}
                        {% if n + 1 == pagenum|int %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                            <a class="page-link" href="/{{ table }}/{{ category }}/?p={{ n + 1 }}">{{ n + 1 }}</a>
                        </li>
                    {% endfor %}

                    {% if pagenum|int == totalpage %}
                        <li class="page-item disabled">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                        <a class="page-link" href="/{{ table }}/{{ category }}/?p={{ pagenum|int + 1 }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                        </li>
                </ul>
            </div>
        {% endif %}

        <br>
        {% if current_user.name %}
            {% if vcode %}
                <button class="btn btn-info" onclick="location.href = '/commentary/add/{{ vcode }}/';">오픈주석 작성</button>    
                &nbsp <button class="btn btn-success" onclick="location.href = '/classic/add/{{ vcode }}/';">클래식주석 작성</button>
            {% else %}
                {% if vcode %}
                    {% set vcode = vcode + '/' %}
                {% else %}
                    {% set vcode = '' %}
                {% endif %}
                <button class="btn btn-secondary" onclick="location.href = '/{{ table }}/add/{{ vcode }}?c={{ category }}';">글 작성하기</button>
            {% endif %}
        {% endif %}
        <br>

    </div>

    <script>
        document.title = "알파알렙 오픈주석 보기";
    </script>
    <script id="dsq-count-scr" src="//alpaalrebseonggyeong.disqus.com/count.js?v=11" async></script>
    
<!-- </div> -->
    {% endautoescape %}
{% endblock %}
