{% extends "layout.html" %}
{% block body %}
<script src="/static/js/conjugator.js"></script>

<h3 align=center>동사형태 출력</h3>
<br>

<form class="form-inline" method=post id="conjugator">
  <h4 align=center>
    동사원형(히브리어입력): <input type="text" class="form-control" name="verb" id="verb" size=20>
    <input type=submit class="btn btn-primary" id="conj_submit" value=출력><span id="load_image" style="display:none"><img src="/static/img/loader.gif" align="center"></span>
  </h4>
</form>

<div id="hebrewkey" style="text-align:center"></div>
<script src="/static/js/hebrewkey.js"></script>
<br>
<p align=center>*שׁ(쉰)은  ש1으로 שׂ(신)은 ש2로 입력하세요.</p>
<p align=center>*자음의 경우 종결어미형이 아니라 일반형을 입력하세요. הלך (X) הלכ (O)</p>

<div class="verse_heb" id="verballist" style="direction:ltr; text-align:left"></div>

{% endblock %}
