{% extends "layout.html" %}
{% block body %}
    <div class="jumbotron">
        <img src="../static/img/logo.png" height="100" width="100">
        <h2>AlphAlef Bible Research Center</h2>
        <h4>위 로고와 연구소의 이름은 성서의 언어인 그리스어와 히브리어의 첫번째 알파벳을 딴 것입니다. 하나님의 말씀을 온전히 이해하기 위해
            다양한 툴과 교재들을 온오프라인으로 보급하고 교육과정을 진행할 계획에 있습니다. 현재 설립 준비 가운데 있습니다.</h4>
    </div>
    <h4>
        - 개발 및 연구: 김경식<br><br>
        - 감리교신학대학교 신학과, 동대학원 구약학 석사<br><br>
        - Rothberg International School of Hebrew University. M.A. in Bible and ANET<br><br>
        - Bar-Ilan University. Ph.D. cand. in Bible<br><br>
        - Blog: <a href="http://kimsbible.com" target="_blank">www.kimsbible.com</a><br><br>
        - 연락처: kungsik@gmail.com<br>
    </h4>

{% endblock %}