<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>알파알렙 온라인 성경 AlphAlef Online BIBLE APP</title>

    <link rel="shortcut icon" href="/static/img/favicon.ico">

    <meta property="og:type" content="website">
    <meta property="og:title" content="알파알렙 온라인 성경 AlphAlef BIBLE APP">
    <meta property="og:description" content="알파알렙 온라인 성경입니다. 원어 성경 본문을 검색할 수 있고, 히브리어 단어 분석, 구문 분석 및 검색 기능을 지원합니다.">
    <meta property="og:image" content="https://app.alphalef.com/static/img/logo.png">
    <meta property="og:url" content="https://app.alphalef.com">

  <!-- 부트스트랩  및 css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/static/css/main.css?ver=1.1191" rel="stylesheet">
    <link href="/static/css/nav_style.css?ver=1.1" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css">
    <link href="/static/css/mk.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="/static/js/modal_word_api.js?ver=1.116"></script>
    <script async charset="utf-8" src="//cdn.embedly.com/widgets/platform.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-71567501-3', 'auto');
      ga('send', 'pageview');
    </script>
    <meta name="naver-site-verification" content="c658814c7f6b024449cd1a746fb8d4c51b25add4"/>

  </head>
  <body>
    <div class = container>
        <section class="navigation">
          <div class="nav-container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="brand">
              <a href="/">AlphAlef</a>
            </div>
            <nav>
                <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
                <ul class="nav-list">
                    <li>
                        <a href="#!">소개</a>
                        <ul class="nav-dropdown">
                            <li><a href="/">알파알렙 성서</a></li>
                            <li><a href="/developer">알파알렙 연구소</a></li>
                            <li><a href="/license">저작권 안내</a></li>
                        </ul>
                    </li>
                    <li>
                      <a href="#!">성서본문</a>
                      <ul class="nav-dropdown">
                         <li><a href="/bhsheb/Genesis/1">구약</a></li>
                         <li><a href="/sblgnt/Matthew/1">신약</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="/commentary/list/">오픈주석</a>
                    </li>
                    <li>
                      <a href="/community">커뮤니티</a>
                    </li>
                    <li>
                        <a href="#!">회원메뉴</a>
                        <ul class="nav-dropdown">
                            {% if current_user.name %}
                              <li><a href="#">{{ current_user.name }}님</a></li>
                              <li><a href="/auth/signout/">로그아웃</a></li>
                            {% else %}
                              <li><a href="/auth/signup/">회원가입</a></li>
                              <li><a href="/auth/signin/">로그인</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </nav>
          </div><!-- /.container-fluid -->
        </section>

        {% block body %}
        {% endblock %}

        <div class="modal modal-wide fade">
          <div class="modal-dialog">
            <div class="modal-content">
            <!-- modal ajax 호출되는  곳-->
            </div>
          </div>
        </div>

		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Kim -->
		<ins class="adsbygoogle"
		     style="display:block"
		     data-ad-client="ca-pub-1821654659787030"
		     data-ad-slot="3495261380"
		     data-ad-format="auto"
		     data-full-width-responsive="true"></ins>
		<script>
     		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>

        <div class="footer">
          <div style="float:left; margin-right:10px">
            <img src="/static/img/logo.png" height="80" width="80" style="vertical-align:middle">
          </div>
          <div style="float:left">
            알파알렙성경(AlphAlef Bible) (Since 2017)<br>
            Powered by <a href="http://etcbc.nl/" target="_blank">BHSA C Dataset</a><br>
            Contact: kks@alphalef.com
          </div>
        </div>

    </div>
    <!-- 모달 자리 -->
    <div class="modal-container"></div>
    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/js/nav.js"></script>

  </body>
</html>
