{% extends "layout.html" %}
{% block body %}
    <h3>저작권(license)</h3>
    <a href="http://unlicense.org/" target="_blank"><img src="https://shebanq.ancient-data.org/shebanq/static/images/cc_by_nc.png" width="270px" height="100px"></a>
    <h4>
        <div class="alert alert-success" role="alert">본 사이트에 활용된 성서 텍스트 데이터베이스는 SHEBANQ와 Text-Fabric에 의해 공개된 오픈소스 데이터베이스입니다.</div>
        <div class="alert alert-info" role="alert">따라서 본 성서 데이터베이스를 통한 어떤 영리적 행위도 지양합니다.</div>
        <div class="alert alert-warning" role="alert">성서 텍스트 데이터베이스에 관한 자세한 사항은 <a href="https://shebanq.ancient-data.org/sources" target="_blank">여기</a>를 클릭해 주세요.</div>
        <div class="alert alert-danger" role="alert">본 사이트에 인용된 번역본은 <a href="https://getbible.net/api" target="_blank">GETBIBLE.NET</a>의 api를 이용했습니다.</div>
    </h4>

{% endblock %}