{% extends "layout.html" %}
{% block body %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-danger" role="alert">
      {% for message in messages %}
        <p> {{ message }} </p>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}


<div class="row">
  <div class="col-md-12">
		<h3 style="text-align:center">로그인</h3>

		<form method=post action="/login/">
			<h4>
				{{ form.csrf_token }}
        <table align=center>
          <tr><td height="50">아이디:</td><td>{{ form.username(size=20, class_="form-control") }}</td></tr>
          <tr><td height="50">비밀번호:</td><td>{{ form.password(size=20, class_="form-control") }}</td></tr>
        </table>
			</h4>
      <input type="hidden" value="{{ request.referrer }}" name="referrer" id="referrer">
			<p style="text-align:center"><input type=submit class="btn btn-primary" value=로그인></p>
		</form>

		{% if error %}
			<p class="error"><strong>Error:</strong>{{ error }}</p>
		{% endif %}
  </div>
</div>

{% endblock %}
