{% extends "layout.html" %}
{% block body %}
    <div class="jumbotron">
        <img src="../static/img/logo.png" height="100" width="100">
        <h2>Kim's Bible에 방문하신 것을 환영합니다.</h2>
        <h4>본 사이트는 원어 성경을 보다 쉽고 편리하게 접근하기 위한 목적으로 만들어졌습니다.</h4>
        <h4>이 사이트를 통해 아래와 같은 기능을 활용하실 수 있습니다.</h4>
    </div>
    <h4>
        <div class="panel panel-primary"><div class="panel-heading">성서 원문 열람</div><div class="panel-body">구약 히브리어 지원. 추후 헬라어 지원 예정</div></div>
        <div class="panel panel-success"><div class="panel-heading">히브리어 문장 분석</div><div class="panel-body">히브리어 문장의 다양한 정보 제공. 구절번호 클릭</div></div>
        <div class="panel panel-info"><div class="panel-heading">히브리어 단어 분석</div><div class="panel-body">히브리어 단어 파싱 및 부가 정보. 단어클릭</div></div>
        <div class="panel panel-warning"><div class="panel-heading">번역비교</div><div class="panel-body">히브리어 문장분석을 통해 제공</div></div>
        <div class="panel panel-danger"><div class="panel-heading">각종 어휘, 구문 검색 기능</div><div class="panel-body">추후 업데이트</div></div>
    </h4>

{% endblock %}