{% extends "layout.html" %}
{% block body %}
  <div class="jumbotron">
    <img src="../static/img/logo.png" height="120" width="125"><br>
    <font size=6>알파알렙 온라인 성경</font>
    <p></p>
    <iframe width=100% height="300" src="https://www.youtube.com/embed/F8wCnQL0O2Y" frameborder="0" allowfullscreen></iframe>
  </div>
    <h4>
        <div class="panel panel-primary">
            <div class="panel-heading">
                성서 원문 열람
            </div>
            <div class="panel-body">
                구약 히브리어 지원. 추후 헬라어 지원 예정
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                히브리어 절, 단어, 구문단위 분석
            </div>
            <div class="panel-body">
                히브리어 절과 단어 분석 제공. 단어분석: 단어클릭, 절분석: 절번호 클릭. 구문단위분석: 성서 텍스트 상단 버튼 클릭
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">
                번역비교
            </div>
            <div class="panel-body">
                히브리어 문장분석을 통해 제공. 성서 번역본 DB의 오류로 매칭 되지 않는 구절이 일부 있음. 추후 보완 예정.
            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">
                각종 어휘, 구문 검색 기능
            </div>
            <div class="panel-body">
                현재 쿼리 검색을 할 수 있습니다. 먼저 검색 메뉴에 있는 튜토리얼을 읽어 보세요.
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
              관련 사이트
            </div>
            <div class="panel-body" style="background-color: #fafafa">
              <li style="margin: 20px"><a href="http://kimsbible.com" target="_blank">KIM'S BIBLE</a>: 성서학과 성서언어에 관한 다양한 정보를 올리는 블로그</li>
              <li style="margin: 20px"><a href="https://www.youtube.com/channel/UCgSRYohubxOTB8G7RUb1Szg" target="_blank">유투브 채널</a>: 알파알렙 성경 사용법과 성서 히브리어 강좌</li>
            </div>
        </div>
    </h4>
{% endblock %}
