{% extends "layout.html" %} {% block body %}
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_map_api }}"></script>
<script src="/static/js/syntax_viewer.js?ver=1.1"></script>

{% set next_chapter = chapter + 1 %}
{% set prev_chapter = chapter - 1 %}

<div class="panel panel-default" style="padding: 10px;">

    <div class="text_submenu">    
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle submenu_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            화면표시<span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#" id="syntax_enact">절(C)/구(P)단위표시</a></li>
            <li><a href="#" id="geoinfo">지도표시</a></li>
          </ul>
        </div>
    
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle submenu_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            도구모음<span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="/studytools/reading/sblgnt/?v={{ vcode }}">원문읽기도우미</a></li>
          </ul>
        </div>
    
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle submenu_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            번역본<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" style="padding-right: 10px">
            <li style="padding-left: 20px"><input type="checkbox" id="showkor" value="korean" checked onclick="showTrans('.gnt_kor', 'showkor');"> 개역한글</li>
            <li style="padding-left: 20px"><input type="checkbox" id="showkjv" value="kjv" onclick="showTrans('.gnt_kjv', 'showkjv');"> KJV</li>
          </ul>
        </div>
      </div>

  <br>
  <div class="left">
    {% if chapter > 1 %}
    <a href="/sblgnt/{{ book }}/{{ prev_chapter }}">이전 장</a><br><br> {% else %}
    <font color="white">이전 장</font><br><br> {% endif %}
  </div>

  <div class="right">
    {% if chapter
    < last_chp %} <a href="/sblgnt/{{ book }}/{{ next_chapter }}">다음 장</a><br><br> {% else %}
      <font color="white">다음 장</font><br><br> {% endif %}
  </div>

  <div class="center" align="center">
    {% include 'sblgnt_selector.html' %}
  </div>

  <br>

  <div id="map-canvas" style="width:100%; height:400px; display:none"></div>
  <div id="map-comment" style="display:none">
    *위 지도에 표시된 빨간 점들은 본 장에 기록되어 있는 지역을 표시한 것입니다. 위 점을 클릭하시면 지명과 인용된 성경구절을 보실 수 있습니다. (번역본 장절 기준)<br> *본 장에 별도로 기록된 지명이 없다면 아무런 지역 표시가 되지 않습니다.<br> *Copyright ©2017 by <a href="http://www.openbible.info/geo/" target="_blank">Bible Geocoding</a>
  </div>
  <br>
  
  <div class="sblgnt" id="text">
      {% autoescape false %}
      {{ verse }}
      {% endautoescape %}
  </div>

  <br><br>

  <div class="ccl" style="text-align: center">
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
      <img alt="크리에이티브 커먼즈 라이선스" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
    </a>
    <br><br>
    이 저작물은 <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">크리에이티브 커먼즈 저작자표시-비영리-동일조건변경허락 4.0 국제 라이선스</a>에 따라 이용할 수 있습니다.
  </div>
  
</div>

<script>
  function initialize() {
    var map = new google.maps.Map(document.getElementById("map-canvas"), {
      center: {
        lat: 31.7833,
        lng: 35.2167
      },
      zoom: 8,
      mapTypeId: google.maps.MapTypeId.SATELLITE
    });
    var layer = new google.maps.KmlLayer({
      url: "{{kml_file}}",
      preserveViewport: false
    });
    layer.setMap(map);
  }
 
  function showTrans(transclassname, button_id) {
	 let myelements = document.querySelectorAll(transclassname);
	 if (document.getElementById(button_id).checked == true) {
		for (var i = 0; i < myelements.length; i++) {
			myelements[i].style.display = "block";
		}
	 }
	 else {
		for (var i = 0; i < myelements.length; i++) {
			myelements[i].style.display = "none";
		}
	 }
 }
</script>
<script>
  document.title = "{{ book }} {{ chapter }}장(알파알렙성경)";
</script>
{% endblock %}
