<script>
let node = '{{ node }}';
$(document).ready(function() {
        $.ajax({
                url: 'https://kungsik1.pythonanywhere.com/api/word/gnt/' + node,
                datatype: 'json',
                success: function(data) {
                    let result = '';
                    data['gntwordinfo'].forEach(function(info) {
                        result += info + '<br>';
                    })
                    result = result.replace("undefined", "");
			        $('#sblgnt_word').html(result);
                }
        });
});
</script>

<div class="sblgnt_word" id="sblgnt_word">
</div>
