{% extends "layout.html" %}
{% block body %}
    {% autoescape false %}

    <script src="/static/js/text_tab.js"></script>
    <script src="/static/js/search.js"></script>

    <div class="alert alert-danger" role="alert" style="text-align: center">현재 검색 페이지는 아직 테스트 중입니다. 검색결과는 100개로 제한합니다.
      검색 쿼리에 대한 안내 페이지는 이 <a href="https://github.com/ETCBC/text-fabric/blob/master/docs/searchTutorial.ipynb" target="_blank">링크</a>를 참고해 주세요.<br>
      곧 검색 쿼리에 관한 자세한 안내 페이지를 만들 예정이고, 쉬운 유저 인터페이스도 준비할 예정입니다.</div>

    <div class="row">
        <div class="col-md-4" style="text-align: center">
            <h4>검색 쿼리 입력</h4>
            <form method="post" id="query_post">
                <textarea class="form-control" rows="10" name="query" id="query_text"></textarea>
                <br><button type="submit" class="btn btn-success" id="query_submit">쿼리실행</button>
            </form>
          <div class="search_helper" id="search_helper">
            <br><h5>검색 쿼리 입력 도우미</h5>
            <select name="init" id="init" class="form-control">
              <option value="">선택자</option>
              <option value="book">책선택</option>
              <option value="chapter">장선택</option>
              <option value="verse">절선택</option>
              <option value="sentence">문장선택</option>
              <option value="clause">구절선택</option>
              <option value="phrase">구선택</option>
              <option value="word">단어선택</option>
            </select>
          </div>
          <div class="search_selector" id="search_selector"></div>
          <div class="search_selector2" id="search_selector2"></div>
          <label for="check"> 새로운 줄에 추가</label>
          <input type="checkbox" id="check" checked>
          <label for="check2"> 커서위치 다음에 추가</label>
          <input type="checkbox" id="check2"><br><br>
          <div class="input-group">
            <span class="input-group-btn">
              <button type="button" count_range="m" class="btn btn-default btn-number" id="indent_minus">
                <span class="glyphicon glyphicon-minus"></span>
              </button>
            </span>
            <input num=0 class="form-control" id="indent_count" style="text-align:center" placeholder="들여쓰기 레벨">
            <span class="input-group-btn">
              <button type="button" count_range="p" class="btn btn-default btn-number" id="indent_plus">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </span>
          </div>
          <br><input type="button" name="add_search" id="add_search" class="btn btn-default" value="검색옵션추가">
        </div>
        <script src="/static/js/search_helper.js"></script>
        <div class="col-md-8">
            <div id="query_input"></div>
            <div id="pager" class="pager"></div>
            <div id="search_result" class="search_heb"></div><br>
        </div>
    </div>
    {% endautoescape %}


{% endblock %}
