{% extends "layout.html" %}
{% block body %}

<div class="markdown-preview-enhanced   ">

<h1 id="&#xAC80;&#xC0C9;-&#xC608;&#xBB38;">검색 예문</h1>
<p>
<font color="red">이 문서는 현재 계속 업데이트 중입니다. 문서상으로 불충분한 내용은 동영상으로도 업데이트할 계획입니다.</font><br>
<br></p>
<h4 id="&#xCC3D;&#xC138;&#xAE30;-1-2&#xC7A5;&#xC5D0;&#xC11C;-&#x5D0;&#x5DC;&#x5D4;&#x5D9;&#x5DD;-&#xB2E8;&#xC5B4;-&#xAC80;&#xC0C9;">창세기 1, 2장에서 אלהים 단어 검색</h4>
<pre class="editor-colors lang-text"><div class="line"><span class="mpe-syntax--text mpe-syntax--plain"><span class="mpe-syntax--meta mpe-syntax--paragraph mpe-syntax--text"><span>book&nbsp;book=Genesis&nbsp;&nbsp;</span></span></span></div><div class="line"><span class="mpe-syntax--text mpe-syntax--plain"><span>&nbsp;&nbsp;</span><span class="mpe-syntax--meta mpe-syntax--paragraph mpe-syntax--text"><span>chapter&nbsp;chapter=1|2</span></span></span></div><div class="line"><span class="mpe-syntax--text mpe-syntax--plain"><span>&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="mpe-syntax--meta mpe-syntax--paragraph mpe-syntax--text"><span>word&nbsp;lex_utf8=אלהימ</span></span></span></div></pre>
<h4 id="&#xC808;&#xB300;&#xD615;-&#xBD80;&#xC815;&#xC0AC;-&#xC77C;&#xBC18;&#xB3D9;&#xC0AC;-&#xC870;&#xD569;-&#xAC15;&#xC870;&#xC758;-&#xC758;&#xBBF8;">절대형 부정사 + 일반동사 조합 (강조의 의미)</h4>
<pre class="editor-colors lang-text"><div class="line"><span class="mpe-syntax--text mpe-syntax--plain"><span class="mpe-syntax--meta mpe-syntax--paragraph mpe-syntax--text"><span>verse</span></span></span></div><div class="line"><span class="mpe-syntax--text mpe-syntax--plain"><span>&nbsp;&nbsp;</span><span class="mpe-syntax--meta mpe-syntax--paragraph mpe-syntax--text"><span>word&nbsp;sp=verb&nbsp;&nbsp;&nbsp;vt=infa</span></span></span></div><div class="line"><span class="mpe-syntax--text mpe-syntax--plain"><span class="mpe-syntax--meta mpe-syntax--paragraph mpe-syntax--text"><span>&nbsp;&nbsp;&lt;:&nbsp;word&nbsp;sp=verb&nbsp;&nbsp;</span></span></span></div></pre>
<ul>
<li>word sp=verb 품사=동사</li>
<li>vt=infa 시제=절대부정사</li>
<li>word ... &lt;: word ... 앞에 나온 단어와 뒤에 나온 단어가 바로 붙어서 나옴.</li>
</ul>

</div>

{% endblock %}
