{% extends "layout.html" %}
{% block body %}

<div style="text-align: center">
    <div class="panel panel-default">
        <h3 class="title">로그인하기</h3>
        <div class="panel-body">
            {% if error == 1 %}
            <div class="alert alert-danger">로그인 정보가 잘못되었습니다.</div>
            {% endif %}
            <form method="POST" action="/auth/signin/">
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="이메일주소">
                </div>

                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="비밀번호">
                </div>

                <button type="submit" class="btn btn-default">로그인하기</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}