{% extends "layout.html" %}
{% block body %}

<div style="text-align: center">
    <div class="panel panel-default">
        <h3 class="title">로그인하기</h3>
        <div class="panel-body">
            <div class="panel-container">
                {% if error == 1 %}
                <div class="alert alert-danger">로그인 정보가 잘못되었습니다.</div>
                {% endif %}
                <form method="POST" action="/auth/signin/">
                    <div class="form-group">
                        <input class="form-control" type="email" name="email" placeholder="이메일주소">
                    </div>

                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="비밀번호">
                    </div>

                    <button type="submit" class="btn btn-default">로그인하기</button>
                </form>

                <br><br>
                <div class="alert alert-success" role="alert">
                    <p>아직 비밀번호 찾기/변경이나 탈퇴 기능이 미비합니다. 
                      비밀번호는 운영자도 알 수 없도록 단방향 암호 방식으로 저장됩니다. 
                      그래서 당분간은 비밀번호 변경이나 탈퇴를 원하시는 경우 가입하신 이메일을 통해 
                      저에게 연락을 주시면 계정 삭제할 수 있는 링크를 별도로 보내드리독 하겠습니다.
                      비밀번호나 이름 변경은 계정 삭제 후 재가입의 방법으로 하시면 되겠습니다.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}