{% extends "layout.html" %}
{% block body %}
    {% autoescape false %}

    <script src="/static/js/bhsheb_parsing.js?v=111111"></script>

    <div class="alert alert-danger" role="alert">현재 파싱 출력 페이지는 아직 테스트 중입니다. 검색 통계를 너무 크게 잡으면(예. 창세기 전체) 브라우저가 다운될 수 있습니다. 코드 입력 방법은 <a href='/bhsheb/stat/tutorial/' target="_blank">여기</a>를 클릭해 주세요.</div>

    <div class="row">
        <div class="col-md-4" style="text-align: center">
            <h4>읽기 범위 코드 입력</h4>
            <form method="post" id="parsing_post">
                <textarea class="form-control" rows="10" name="rangeCode" id="rangeCode"></textarea>

                <br><br>
                <label for="check1"> 단어문법분석제외 </label>
                <input type="hidden" id="check1_value" name="check1" value="">
                <input type="checkbox" id="check1" onclick="updatecheckvalue()">
                <label for="check2"> 단어리스트제외 </label>
                <input type="hidden" id="check2_value" name="check2" value="">
                <input type="checkbox" id="check2" onclick="updatecheckvalue()">  

                <label for="check3"> 인쇄화면으로 보기 </label>
                <input type="hidden" id="check3_value" name="check3" value="">
                <input type="checkbox" id="check3" onclick="updatecheckvalue()">  
                
                <br>
                
                <button type="submit" class="btn btn-success" id="parsing_submit">실행</button>
                <button type="submit" class="btn btn-success" id="print_submit">인쇄화면실행</button>

            </form>
          <div id="load_image" style="display:none"><img src="/static/img/loader.gif" align="center"></div>
        </div>
        <div class="col-md-8">
	    <h4>성경읽기 도우미 보기/다운로드</h4>
            <div id="search_result" class="search_heb"></div>
        </div>
    </div>

    <script>
        function updatecheckvalue() {
            var ischecked1 = $('#check1').is(":checked");
            var ischecked2 = $('#check2').is(":checked");
            var ischecked3 = $('#check3').is(":checked");

            if(ischecked1) {
                $('#check1_value').attr('value', '1')
            }
            else {
                $('#check1_value').attr('value', '') 
            }
            if(ischecked2) {
                $('#check2_value').attr('value', '1')
            } 
            else {
                $('#check2_value').attr('value', '')
            }
            if(ischecked3) {
                $('#check3_value').attr('value', '1')
            } 
            else {
                $('#check3_value').attr('value', '')
            }
        }
    
    </script>

    {% endautoescape %}
{% endblock %}