{% extends "layout.html" %}
{% block body %}

    <script src="/static/js/syntax_viewer.js"></script>


        {% set next_chapter = chapter + 1 %}
        {% set prev_chapter = chapter - 1 %}

    <div class="left">
        {% if chapter > 1 %}
            <a href="/text/{{ book }}/{{ prev_chapter }}">이전 장</a><br><br>
        {% else %}
            <font color="white">이전 장</font><br><br>
        {% endif %}
    </div>

    <div class="right">
        {% if chapter < last_chp %}
            <a href="/text/{{ book }}/{{ next_chapter }}">다음 장</a><br><br>
        {% else %}
            <font color="white">다음 장</font><br><br>
        {% endif %}
    </div>

    <div class="center" align="center">
        {% include 'bible_selector.html' %}
    </div>

    <div style="text-align: right">
        <br><button class="btn btn-default" id="verse_block">절(verse)구분</button> <button class="btn btn-default" id="syntax_enact">절(C)/구(P)단위표시</button>
    </div>

    <div class = "verse_heb">
        {% autoescape false %}
        {{ verse }}
        {% endautoescape %}
    </div>


{% endblock %}
