<div class="verse_api">
    <!-- header -->
    <div class="modal-header">
        <!-- 닫기(x) 버튼 -->
      <button type="button" class="close" data-dismiss="modal">×</button>
      <!-- header title -->
      <h4 class="modal-title">절분석({{ section[0] }} {{ section[1] }}:{{ section[2] }})</h4>
    </div>
    <!-- body -->
    <div class="modal-wide modal-body">
        {% autoescape false %}

        <table class="table">
            <tr>
                {% for str in verse_api['words'] %}
                <td>{{ str }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for str in verse_api['gloss'] %}
                <td>{{ str | replace (">", "") | replace ("<", "") }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for str in verse_api['sp'] %}
                <td>{{ str }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for str in verse_api['parse'] %}
                <td>{{ str }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for str in verse_api['suff'] %}
                <td>{{ str }}</td>
                {% endfor %}
            </tr>
        </table>

        <div><span class="label label-primary">KJV</span>
            <div class="alert alert-warning">
                {% for kjv_vrs in verse_str['kjv'] %}
                {{ kjv_vrs }}
                {% endfor %}
            </div>
        </div>

        <div><span class="label label-primary">KOR</span>
            <div class="alert alert-warning">
                {% for kor_vrs in verse_str['kor'] %}
                {{ kor_vrs }}
                {% endfor %}
            </div>
        </div>

        {% endautoescape %}
    </div>
    <!-- Footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
    </div>
</div>

    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
