  <SCRIPT type="text/javascript" src="/static/js/hebrew.js"></SCRIPT>
  <SCRIPT>

   var opened = false, vkb = null, text = null;

   function keyb_change()
   {
     document.getElementById("switch").innerHTML = (opened ? "히브리어입력" : "키보드가리기");
     opened = !opened;
		//opened = true -> show keyboard
		//opened = false -> hide keyboard
     if(opened && !vkb) //true && not created already
     {


       vkb = new VKeyboard("keyboard",    // container's id
                           keyb_callback, // reference to the callback function
                           false,          // create the arrow keys or not? (this and the following params are optional)
                           false,          // create up and down arrow keys?
                           false,         // reserved
                           false,          // create the numpad or not?
                           "",            // font name ("" == system default)
                           "14px",        // font size in px
                           "#000",        // font color
                           "#F00",        // font color for the dead keys- which wont work in this language
                           "#FFF",        // keyboard base background color
                           "#FFF",        // keys' background color
                           "#DDD",        // background color of switched/selected item
                           "#FFF",        // border color
                           "#FFF",        // border/font color of "inactive" key (key with no value/disabled)
                           "#FFF",        // background color of "inactive" key (key with no value/disabled)
                           "#F77",        // border color of the language selector's cell
                           true,          // show key flash on click? (false by default)
                           "#CC3300",     // font color during flash
                           "#FF9966",     // key background color during flash
                           "#CC3300",     // key border color during flash
                           true,         // embed VKeyboard into the page?
                           true,          // use 1-pixel gap between the keys?
                           0);            // index(0-based) of the initial layout
     }
     else //show the already created keyboard
       vkb.Show(opened);

     text = document.getElementById("verb");
     text.focus();

     if(document.attachEvent)
       text.attachEvent("onblur", backFocus);
   }

   function backFocus()
   {
     if(opened)
     {
       var l = text.value.length;//amount of text written

       setRange(text, l, l);

       text.focus();
     }
   }

   // Callback function:
   function keyb_callback(ch)
   {
     var val = text.value;

     switch(ch)
     {
       case "BackSpace":
         var min = (val.charCodeAt(val.length - 1) == 10) ? 2 : 1;
         text.value = val.substr(0, val.length - min); //replace with one less value
         break;
  	 //delete from the left side

       case "Enter":
         text.value += "\n"; //next line
         break;
		 //insert to the right side

       default:
         text.value += ch;//take next character input and display it on screen
     }
   }

   function setRange(ctrl, start, end)
   {
     if(ctrl.setSelectionRange) // Standard way (Mozilla, Opera, ...)
     {
       ctrl.setSelectionRange(start, end);
     }
     else // MS IE
     {
       var range;

       try
       {
         range = ctrl.createTextRange();
       }
       catch(e)
       {
         try
         {
           range = document.body.createTextRange();
           range.moveToElementText(ctrl);
         }
         catch(e)
         {
           range = null;
         }
       }

       if(!range) return;

       range.collapse(true);
       range.moveStart("character", start);
       range.moveEnd("character", end - start);
       range.select();
     }
   }

 </SCRIPT>
